.cont{
    width: 100%;
}
.contmain{
    width: 100%;
    background-color: #88976f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contesg{
    margin-top: 200px;
    color: white;
}
.nomeesg{
    font-size: 70px;
    animation: taadaa 3s;
}
.nome{
    color: #88976f;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 20px;
    animation: taadaa 3s;
}
.contimg{
    display: flex;
    height: 600px;
    background-color: #88976f;    
    
}
.contparag{
    flex-direction: column;
    width: 20%;
    margin-top: 200px;
    color: white;
    animation: taadaa 3s;
}
.cont2{
    width: 100%;
    height: 800px;
}
img{
    width: 400px;
    height: 600px;
    animation: taadaa 3s;
}
@keyframes taadaa { 
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.5;
      }
  
    100% {
      opacity: 1;
    }
  }
@media(max-width:650px ){
    .contmain{
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contimg{
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .contesg{
        margin-top: 20px;
    }
}